{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block user_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}网站的这一部分要求我们确认您就是您所声称的人。为此，我们需要您验证您电子邮件地址的所有权。{% endblocktrans %}</p>

<p>{% blocktrans %}我们已向您发送了一封电子邮件以供验证。请点击提供的链接完成注册过程。如果您在几分钟内没有收到，请与我们联系。{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>


{% endblock %}
