<footer class="container-fluid">
    


    <div class="card-body text-center f-14 small">
        
        <!-- <p class="">
            <a href="http://beian.miit.gov.cn/" target="_blank">{{ beian }}</a>
            
           
            
           
        </p> -->
        <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;
            <a href="https://www.secsnow.cn" target="_blank" title="网站首页">SNOWCTF</a>.&nbsp;Powered&nbsp;by&nbsp;<a href="https://github.com/Hopetree/izone" target="_blank" title="izone">izone</a>.
            
        </p>
    </div>
</footer>