{% extends 'public/base.html' %}
{% load ctf_tags %}
{% block head_title %}{{competition.title }}_解题动态{% endblock %}
{% block base_content %}
<div class="container">


  <div>
      <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-white border-0 rounded-6 mb-2 py-2 f-15">
                  <li class="breadcrumb-item">
                      <i class="fa fa-home mr-1"></i><a href="{% url 'public:CompetitionView' %}">首页</a>
                  </li>
                  
                  <li class="breadcrumb-item">
                      <a href="{% url 'public:competition_detail' competition.slug %}">{{competition.title}}</a>
                  </li>

                  <li class="breadcrumb-item active" aria-current="page">解题动态</li>

              </ol>
          </nav>    
    </div>
  <div class="card border-0 rounded-6 mb-md-3 mt-3">
    <table class="table table-borderless" >
      <thead>
        <tr>
          <th >解题动态</th>
          {% for challenge in challenges %}
            <td >{{ challenge.title }}</td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
          <tr>
            <td>{{ player.name }}</td>
            {% for challenge in challenges %}
              {% if challenge.id in player.submissions %}
                {% with status=player.submissions|dict_get:challenge.id %}
                  <td>
                    {% if status == "一血" %}
                      <span class="text-primary"><i class="bi bi-balloon-heart-fill "></i><i class="bi bi-balloon-heart-fill"></i><i class="bi bi-balloon-heart-fill"></i></span>
                    {% elif status == "二血" %}
                      <span class="text-primary"><i class="bi bi-balloon-heart-fill"></i><i class="bi bi-balloon-heart-fill"></i></i></span>
                    {% elif status == "三血" %}
                      <span class="text-primary"><i class="bi bi-balloon-heart-fill"></i></i></span>
                    {% else %}
                      <span class="text-primary">已解决</span>
                    {% endif %}
                  </td>
                {% endwith %}
              {% else %}
                <td>-</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}